<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppliedProgrammingTask1</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-inverse" style="background: linear-gradient(45deg, purple,#800080 ); color: white;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">APPR</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-page="/Index">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Monetary<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a asp-area="" asp-page="/Donate_Money">Capture</a></li>
                        <li><a asp-area="" asp-page="/View_Donate_Money">Review</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Goods<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a asp-area="" asp-page="/Goods">Capture</a></li>
                        <li><a asp-area="" asp-page="/View_Goods">Review</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Disaster<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a asp-area="" asp-page="/Disaster">Capture</a></li>
                        <li><a asp-area="" asp-page="/View_Disaster">Review</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a asp-area="" asp-page="/Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a asp-area="" asp-page="/Login"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>